<md-toolbar color="primary">
  <h2> {{title}} </h2>  
  <span class="score">
     &nbsp;  SCORE: 🤖  
    <span md-tooltip="Robot Wins" tooltip-position="below"> {{player.loses}} </span> ]
    <span md-tooltip="Match Tie" tooltip-position="below"> {{player.ties}} </span>
    [  <span md-tooltip="Your Wins" tooltip-position="below"> {{player.wins}} </span>
    👧🏽
  </span> 
</md-toolbar>

<div class="error" *ngIf="errorMessage"> {{errorMessage}} </div>

<div class="arena">
  
  <div class="avatar"> 🤖 </div>
  <div class="avatar match-result" *ngIf="player.matchResult"> {{player.matchResult}} </div>
  <div class="avatar"> 👧🏽 </div>
  
</div>

<div class="choices">
  <button class="choice-fab-btn rock-choice-btn" md-fab
    (click)="setChoice('rock')"
    [disabled]="player.choice === 'rock'"
  >
    ✊🏽
  </button>
  <button class="choice-fab-btn paper-choice-btn" md-fab
    (click)="setChoice('paper')"
    [disabled]="player.choice === 'paper'"
  >
    📰
  </button>
  <button class="choice-fab-btn scissors-choice-btn" md-fab
    (click)="setChoice('scissors')"
    [disabled]="player.choice === 'scissors'"
  >
    ✂
  </button>
</div>

<div class="txt-align-center">
  <button class="shoot-btn" md-raised-button 
    (click)="match(player.choice)" 
    [disabled]="!player.loaded"
    color="primary" 
  > 
    <h2 style="margin: 4px 0 0;"> SHOOT </h2>
  </button>
</div> <!-- <app-root> component closing -->
