<md-toolbar color="primary">
  <h2> {{title}} </h2>  
  <span class="score">
     &nbsp;  SCORE: 🤖  
    <span md-tooltip="Robot Wins" tooltip-position="below"> {{player.loses}} </span> ]
    <span md-tooltip="Match Tie" tooltip-position="below"> {{player.ties}} </span>
    [  <span md-tooltip="Your Wins" tooltip-position="below"> {{player.wins}} </span>
    👧🏽
  </span> 
</md-toolbar>

<div class="error" *ngIf="errorMessage"> {{errorMessage}} </div>

<div class="arena">
  
  <div class="avatar">
    <span [ngClass]="{bounce: gameState === 2}" class="robo-fist"> ✊🏼</span>   
     🤖 
  </div>
  <div class="avatar match-result" [ngSwitch]="gameState">
    <span *ngSwitchCase="0"> CHOOSE</span> 
    <span *ngSwitchCase="1"> {{player.choice}} </span> 
    <span *ngSwitchCase="2"> {{player.countdownMsg}} </span> 
    <span *ngSwitchCase="3"> {{player.choice}} {{player.matchResult}} </span> 
  </div>
  <div class="avatar">
    <span [ngClass]="{bounce: gameState === 2}" class="her-fist"> ✊🏽</span>   
     👧🏽 
  </div>
  
</div>

<div class="choices">
  <button class="choice-fab-btn rock-choice-btn" md-fab
    (click)="setChoice('rock')"
    [disabled]="player.choice === 'rock'"
  >
    ✊🏽
  </button>
  <button class="choice-fab-btn paper-choice-btn" md-fab
    (click)="setChoice('paper')"
    [disabled]="player.choice === 'paper'"
  >
    📰
  </button>
  <button class="choice-fab-btn scissors-choice-btn" md-fab
    (click)="setChoice('scissors')"
    [disabled]="player.choice === 'scissors'"
  >
    ✂
  </button>
</div>

<div class="txt-align-center" [ngSwitch]="gameState">
  
  <button *ngSwitchCase="1" class="shoot-btn" md-raised-button 
    (click)="match(player.choice); countdown();" 
    [disabled]="!player.loaded"
    color="primary" 
     
  > 
    <h2> SHOOT </h2>
  </button>
  
  <button *ngSwitchCase="3" class="shoot-btn" md-raised-button 
    (click)="gameState=0" 
    [disabled]="!player.loaded"
    color="warn" 
  >
    <h2> PLAY AGAIN ? </h2>
  </button>
  
</div> <!-- <app-root> component closing -->
