/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html { background-color: #bda2ff; }
body {
  margin: 0px;
}
.error{
  text-align: center;
  margin: 0 auto;
  background: #41226b;
  padding: 33px;
  text-transform: uppercase;
  font-weight: 900;
  color: red;
  font-family: monospace;
  font-size: 23px;
}
.text-stroke{
   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
md-toolbar.md-primary{
  padding: 13px 13px 16px 40px;
}
.txt-align-center{
  text-align: center;
}

.score {
  position: absolute;
  right: 77px;
}

.choices {
  text-align: center;
  margin: 77px auto 33px;
}

.choice-fab-btn {
  width: 77px !important;
  height: 77px !important;
  margin: 16px !important;
  font-size: 32px !important;
}

.shoot-btn{
  padding: 3px 33px !important;
}
  .shoot-btn h2{
    margin: 4px 0 0;
  }

.mdl-dialog__content p{
  text-align: center;
  font-size: 18px;
  color: purple;
}
#playBtn{
  text-align: center;
  color: #fff;
  background: #ce45ce;
  font-weight: bold;
}

.arena{
  margin: 155px auto 0;
  display: inline-flex;
  width: 100%;
}
  .avatar{
    margin: auto;
    font-size: 111px;
    display: inline-block;
    float: left;
  }
  .her-fist{
    font-size: 52px;
    transform: rotate(-77deg);
    display: block;
    position: absolute;
    margin: 69px auto auto -17px;
  }
  .robo-fist{
    position: absolute;
    font-size: 50px;
    transform: rotate(77deg) scale(-1, 1);
    display: block;
    margin: 69px auto auto 95px;
  }
  .match-result{
    text-transform: uppercase;
    font-family: fantasy;
    color: #ffffff;
    letter-spacing: 13px;
    margin: auto 3px -13px 3px;
  }
